<div id="<%= dom_id comment %>">
  <p>
    <strong>Shop:</strong>
    <%= comment.shop_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= comment.score %>
  </p>

</div>
