<div id="<%= dom_id deliver %>">
  <p>
    <strong>Username:</strong>
    <%= deliver.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= deliver.password %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= deliver.phone %>
  </p>

</div>
