<h1>Editing administrator log</h1>

<%= render "form", administrator_log: @administrator_log %>

<br>

<div>
  <%= link_to "Show this administrator log", @administrator_log %> |
  <%= link_to "Back to administrator logs", administrator_logs_path %>
</div>
