<h1>Editing help delivery item</h1>

<%= render "form", help_delivery_item: @help_delivery_item %>

<br>

<div>
  <%= link_to "Show this help delivery item", @help_delivery_item %> |
  <%= link_to "Back to help delivery items", help_delivery_items_path %>
</div>
