<p style="color: green"><%= notice %></p>

<h1>Help delivery items</h1>

<div id="help_delivery_items">
  <% @help_delivery_items.each do |help_delivery_item| %>
    <%= render help_delivery_item %>
    <p>
      <%= link_to "Show this help delivery item", help_delivery_item %>
    </p>
  <% end %>
</div>

<%= link_to "New help delivery item", new_help_delivery_item_path %>
