<h1>Editing delivery order</h1>

<%= render "form", delivery_order: @delivery_order %>

<br>

<div>
  <%= link_to "Show this delivery order", @delivery_order %> |
  <%= link_to "Back to delivery orders", delivery_orders_path %>
</div>
