<div id="<%= dom_id user_search_record %>">
  <p>
    <strong>User:</strong>
    <%= user_search_record.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= user_search_record.content %>
  </p>

  <p>
    <strong>Add time:</strong>
    <%= user_search_record.add_time %>
  </p>

</div>
