<h1>Editing user search record</h1>

<%= render "form", user_search_record: @user_search_record %>

<br>

<div>
  <%= link_to "Show this user search record", @user_search_record %> |
  <%= link_to "Back to user search records", user_search_records_path %>
</div>
