<h1>Editing help delivery order platform</h1>

<%= render "form", help_delivery_order_platform: @help_delivery_order_platform %>

<br>

<div>
  <%= link_to "Show this help delivery order platform", @help_delivery_order_platform %> |
  <%= link_to "Back to help delivery order platforms", help_delivery_order_platforms_path %>
</div>
