<%= form_with(model: api_session) do |form| %>
  <% if api_session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(api_session.errors.count, "error") %> prohibited this api_session from being saved:</h2>

      <ul>
        <% api_session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
