<h1>Editing session</h1>

<%= render "form", api_session: @api_session %>

<br>

<div>
  <%= link_to "Show this session", @api_session %> |
  <%= link_to "Back to sessions", api_sessions_path %>
</div>
