<p style="color: green"><%= notice %></p>

<h1>User logs</h1>

<div id="user_logs">
  <% @user_logs.each do |user_log| %>
    <%= render user_log %>
    <p>
      <%= link_to "Show this user log", user_log %>
    </p>
  <% end %>
</div>

<%= link_to "New user log", new_user_log_path %>
