<div id="<%= dom_id administrator %>">
  <p>
    <strong>Username:</strong>
    <%= administrator.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= administrator.password %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= administrator.level %>
  </p>

</div>
